%title= content_for(:title) ? content_for(:title) : 'Timeliner'
%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
%meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}
%meta{:content => "#{content_for(:description) ? content_for(:description) : ''}", :name => "description"}
%meta{:content => "@karim_tarek", :name => "author"}
= favicon_link_tag 'favicon.png'
