.container.alert.cool
  .row.full.clearfix
    .col.w-100
      %h4.alert-heading Let's start adding milestones!
      %p
        Create your first milestone,
        = link_to 'click here', new_milestone_path
        to start.
