.alert.alert-block.alert-info.fade.in
  %button.close{"data-dismiss" => "alert", :type => "button"}
  .row
    .col-md-8
      %h4.alert-heading Data Import
      %p Import your data from linkedin to start creating your milestones.
    .col-md-4
      .button-set
        = link_to import_linkedin_data_path,  method: :put, class: 'btn btn-success btn-cons' do
          %i.fa.fa-linkedin
          Import data