.container.alert.cool
  .row.full.clearfix
    .col.w-100
      -# %a.alert-close(href='#')
      -#   %i.fa.fa-times
      %h4.alert-heading Data Import
      %p You can start adding milestones by:
      %ul.list-ul
        %li
          = link_to 'Importing data', import_linkedin_data_path,  method: :put
          from LinkedIn, or
        %li
          Create your first milestone manually,
          = link_to 'click here', new_milestone_path
          to start.
