// ABOUT

#about{
  border-bottom: 6px solid #273747;
  padding: 50px 0;
  .col-100{
    text-align: center;
  }
  .about-bubble{
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #16A085;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    @include transition(all 0.3s ease-in-out);
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #16A085;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      bottom: -10px;
      margin-top: -10px;
    }
    &.pb-30{
      padding-bottom: 32px;
    }
    .email, .location, .phone{
      width: 100%;
      padding: 0 15px;
      position: absolute;
      left: 0;
      bottom: 10px;
      color: #fff;
      opacity: 0;
      @include transition(all 0.5s ease-in-out);
    }

    .show{
      color: #273747;
      opacity: 1;
    }
  }
  .bio{
    // text-align: left;
  }
  .image{
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    &.active{
      opacity: 1;
      background-color: #16A085;
    }

    img{
      width: 110px;
      height: auto;
      border-radius: 50%;
      border: 5px solid #273747;
      opacity: 0.9;
      @include transition(all 0.3s ease-in-out);
      &.active{
        opacity: 1;
        border-color: #16A085;
      }
      &:hover{
        opacity: 1;
      }
    }
    a{
      display: inline-block;
      position: absolute;
      background: #273747;
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 12px 0 0 0;
      text-align: center;
      opacity: 0.8;
      @include transition(all 0.3s ease-in-out);
      &:hover{
        opacity: 1;
      }
      &.email{
        top: 50%;
        margin-top: -25px;
        left: -60px;
        span{
          left: 0;
        }
      }
      &.location{
        top: 50%;
        margin-top: -25px;
        right: -60px;
      }
      &.phone{
        left: 50%;
        margin-left: -25px;
        bottom: -60px;
      }
      &.active{
        opacity: 1;
        background-color: #16A085;
      }
    }
    i.fa{
      font-size: 24px;
    }
    span{
      position: absolute;
      display: inline-block;
      min-width: 150px;
      // display: none;
    }
  }
  ul.social-links{
    margin: 1.5em 0 0 0;
    padding-top: 1.5em;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -30px;
      height: 4px;
      width: 60px;
      background-color: #16A085;
    }
    li{
      margin-right: 1em;
      &:last-child{
        margin-right: 0;
      }
    }
    a{
      background: #273747;
      color: #fff;
      &:hover{
        color: #16A085;
      }

    }
  }
}
