// HEADER

//// LOGO
header{
  border-bottom: 6px solid #273747;
  background-color: #2F4254;
  padding: 0;

  #nav{
    display: flex;
  }
}

.logo{
  padding: 25px 0;

  h1{
    margin: 0;
    color: #1ABC9C;
    @include clearfix;
  }

  .name{
    font-size: 30px;
    line-height: 1em;
    display: block;
    padding-top: 5px;
    text-transform: uppercase;
  }

  .description{
    font-size: 18px;
    display: block;
    color: #fff;
    font-weight: 400;
  }

  .description{
    // font-weight: normal;
  }

  img{
    margin-right: 5px;
    float: left;
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #1ABC9C;
  }
}


//// NAV
nav{
  a{
    font-size: 14px;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding: 0 15px;
    text-decoration: none;
    @include transition(all 0.3s ease-in-out);

    &.selected{
      color: #EDC92C;
      background-color: #273747;
    }

    &:hover{
      color: #EDC92C;
    }

    span{
      align-self: center;
    }
  }
}
