.noscroll{
  overflow: hidden;
  position: relative;
  .overlay-close{
    right: 5%;
    opacity: 0.9;
    @include transform(rotate(90deg));
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
	background: rgba(#34495E, 0.9);
  padding-bottom: 8%;
}

.overlay-close {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 0%;
  opacity: 0;
  cursor: default;
  @include transform(rotate(-45deg));
  top: 5%;
  overflow: hidden;
  border: none;
  background: image-url('cross.png') no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  @include transition(all 0.4s $ease-out-quint);
}


#popup{
	position: absolute;
	top: 80%;
	left: 50%;
  background-color: rgba($green-timeline, 0.8);
  border-radius: 10px;
  // padding: 1.5em;
  position: relative;
  width: 70%;
  max-width: 900px;
  opacity: 0;
	@include transform(translateX(-50%));
  @include transition(all 0.5s $ease-out-circ);
}

#milestone{
  padding: 1.5em;
  .time-location{
    float: right;
    background-color: rgba(#000, 0.1);
    border-radius: 10px;
    padding: 10px;
    top: 15px;
    right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #34495E;
    .time{
      display: block;
      font-size: .9em;
    }
    .location{
      display: block;
      font-size: .9em;
      margin-top: .2em;
    }
  }

  h1{
    margin: 0 0 0.2em 0;
    color: #fff;
  }
  h2{
    margin: 0;
    color: #EDC92C;
    font-weight: 400;
    a{
      color: #EDC92C;
      &:hover{
        color: #DBB626;
      }
      &:visited,
      &:active{
        color: #ffa449;
      }
    }
  }
  .description{
    position: relative;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    padding-top: 1.5em;
    color: #34495E;
    &:before{
      content: '';
      position: absolute;
      left: 50%;
      @include transform(translateX(-50%));
      top: 0;
      width: 50%;
      height: 3px;
      background-color: rgba(#000, 0.1);
    }
    p{
      margin: 0;
      line-height: 1.5em;
      font-weight: 700;
      margin-bottom: 1em;
      /*color: #34495E;*/
    }
    a{
      @extend .link;
    }
    ul{
      margin: 0;
      /*margin-top: 10px;*/
      padding: 0;
    }
    li{
      @extend .list-item;
    }
    blockquote{

    }
  }
}

.wrapper {
	@include transition(transform 0.5s ease-in-out, blur 0.5s ease-in-out);

	&.overlay-open {
		@include transform(scale(0.95));

		-webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);
	}
}

.overlay-contentscale {
	visibility: hidden;
	@include transform(translateY(100%));
	@include transition(transform 0.5s $ease-out-expo, visibility 0s 0.5s);

	&.open {
		visibility: visible;
		@include transform(translateY(0%));
		@include transition(transform 0.5s $ease-out-expo);
		#popup{
			opacity: 1;
			top: 5%;
			@include transition(all 0.5s $ease-out-quart 0.1s);
		}
	}
}
