.noscroll{
  overflow: hidden;
  position: relative;

  .overlay-close{
    right: 2em;
    opacity: 0.9;
    @include transform(rotate(90deg));
    cursor: pointer;

    &:hover{
      opacity: 1;
    }
  }
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
	background: rgba(#34495E, 0.9);
  padding-bottom: 8%;
}

.overlay-close {
  width: 60px;
  height: 60px;
  position: fixed;
  top: calc(10% - 10px);
  right: -1em;
  opacity: 0;
  cursor: default;
  @include transform(rotate(-45deg));
  overflow: hidden;
  border: none;
  background: image-url('cross.png') no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 1001;
  @include transition(all 0.4s $ease-out-quint);
}

#popup{
	position: absolute;
	top: 80%;
	left: 50%;
  background-color: $green-timeline;
  border: 5px solid $green-dark-timeline;
  position: relative;
  width: 80%;
  max-width: 1200px;
  opacity: 0;
	@include transform(translateX(-50%));
  @include transition(all 0.5s $ease-out-circ);
}

.project-info{
  padding: 1.5em 1.5em 0;
  margin-bottom: 1.5em;

  &>div{
    border-bottom: 1px solid rgba(#000, 0.05);
    padding-bottom: 1em;
  }

  h2{
    padding: 0;
    margin: 0;
    font-size: 28px;
    color: $dark-blue;
    line-height: 1em;
  }

  .year{
    color: $yellow;
  }

  .client{
    display: block;
    color: $white;
    font-size: 18px;

    a{
      color: $white;
    }
  }

  .tags{
    background-color: $green-timeline;

    a{
      text-decoration: none;
    }
  }

  .copy{
    border-top: 1px solid rgba(#000, 0.05);
    margin-top: 10px;
    padding-top: 10px;
  }
}

.project-description{
  &>div{
    padding: 0 1.5em 1.5em;

    &.col-65{
      padding-left: 0;
    }
  }
}

.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.wrapper {
	@include transition(transform 0.5s ease-in-out, blur 0.5s ease-in-out);

	&.overlay-open {
		@include transform(scale(0.95));

		-webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);
	}
}

.overlay-contentscale {
	visibility: hidden;
	@include transform(translateY(100%));
	@include transition(transform 0.5s $ease-out-expo, visibility 0s 0.5s);

	&.open {
		visibility: visible;
		@include transform(translateY(0%));
		@include transition(transform 0.5s $ease-out-expo);

    #popup{
			opacity: 1;
			top: 10%;
			@include transition(all 0.5s $ease-out-quart 0.1s);
		}
	}
}
