// TIMELINE

#timeline{
  @include clearfix;
  border-bottom: 6px solid #273747;
}

.timeline {
  position: relative;
  border-left: 6px solid #273747;
  width: 50%;
  float: right;
  padding-top: 50px;
  padding-bottom: 50px;
  .event {
    position: relative;
    width: 100%;
    &:before{
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: -16px;
      border-radius: 20px;
      z-index: 10;
      border: 6px solid #34495E;
      background: white;
    }

    &:nth-child(odd){
      .bubble{
        left: -101%;
        &:before{
          right: -10px;
          border-left: 10px solid $green-timeline;
        }
      }
      .time-location{
      }
    }

    &:nth-child(even){
      .bubble{
        right: -5%;
        &:before{
          left: -10px;
          border-right: 10px solid $green-timeline;
        }
      }
      .time-location{
      }
    }
  }
  .bubble{
    background-color: $green-timeline;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 95%;
    margin-bottom: 25px;
    // @include transition(all 0.5s ease-in-out);
    &:before{
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: 50%;
      margin-top: -10px;
    }
    h3{
      margin: 0 0 0.5em 0;
      color: #fff;
    }
    h4{
      margin: 0;
      color: #EDC92C;
      font-weight: 400;
      a{
        color: #EDC92C;
        &:hover{
          color: #DBB626;
        }
        &:visited,
        &:active{
          color: #ffa449;
        }
      }
    }

    .description{
      // @include transition(all 0.3s $ease-in-out-expo);
      width: 100%;
      // height: 0;
      // opacity: 0;
      display: none;

      &.show{
        height: auto;
        opacity: 1;
      }
    }

    a.btn{
     @extend .btn;
    }
  }

  .time-location{
    float: right;
    background-color: rgba(#000, 0.1);
    border-radius: 10px;
    padding: 8px;
    // top: 15px;
    // right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    .time{
      display: block;
      font-size: .9em;
      color: #34495E;
    }
    .location{
      display: block;
      font-size: .8em;
      color: #34495E;
    }
  }
}


.markdown{
  p{
    font-size: 14px;
    font-weight: 300;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 0.8em;
    color: $dark-blue;

    &:last-child{
      margin-bottom: 0;
    }
  }

  a{
    @extend .link;
  }

  ul{
    margin: 0;
    padding: 0;
  }

  li{
    color: $dark-blue;
    font-size: 14px;
    margin-bottom: 0.4em;
    padding-left: 1em;
    line-height: 1.4em;
    position: relative;

    &:before{
      content: '';
      position: absolute;
      width: 5px;
      height: 5px;
      top: 7px;
      left: 0;
      background-color: $white;
      border-radius: 50%;
    }
  }
}
