@media (max-width : 1024px) {

  .logo{
    h1{
      text-align: center;
      .name{
        font-size: 1em;
        margin-bottom: 5px;
      }
    }
  }

  header{ .flexbox { display: block; } }

  .col-35,
  .col-40,
  .col-50,
  .col-60,
  .col-65{
    width: 100%;
    float: none;
    padding-right: 0;
  }

  .project-description{
    &>div{
      &.col-65{ padding-left: 1.5em; }
    }
  }

  .timeline {
    position: relative;
    border-left: none;
    width: 100%;
    float: none;
    padding-top: 50px;
    padding-bottom: 50px;

    .event{
      &:before{
        display: none;
      }

      .bubble{
        width: 100%;

        &:before{
          display: none;
        }

        &:nth-child(odd),
        &:nth-child(even){
          left: 0;
          right: 0;
          top: 0;
        }
      }
    }

  }

  header{
    #nav{
      display: none;
    }
  }

  #projects-list{
    li{
      width: 49%;

      &:nth-child(odd){
        margin-right: 1%;
      }

      &:nth-child(even){
        margin-right: 0;
        margin-left: 1%;
      }
    }
  }

  .noscroll{
    .overlay-close{
      width: 40px;
      height: 40px;
      right: 1em;
    }
  }
}

@media (max-width : 768px) {
  #about{
    .about-bubble{
      max-width: 80%;
    }
  }

  .timeline {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (max-width : 650px) {
  .project-info{
    .pull-right{
      float: none;
      margin-bottom: 5px;
    }
  }

  #contact_form{
    .field{
      &.fifty{
        width: 100%;
        float: none;
      }
    }
  }
}

@media (max-width : 560px) {
  #projects-list{
    li{
      float: none;
      width: 100%;
      margin-right: 0;
    }
  }
}

@media (max-width : 420px) {
  #about{
    .about-bubble{
      max-width: 90%;
    }
  }

  .availability-banner{
    max-width: 70%;
  }

  .timeline {
    .time-location{
      float: none;
      margin-left: 0;
      display: inline-block;
      font-size: .8em;
    }

    .event{
      .bubble{
        h3{
          font-size: 1.2em;
          margin-bottom: .2em;
        }
      }
    }
  }

  .noscroll{
    .overlay-close{
      top: 2.5%;
      width: 30px;
      height: 30px;
      right: calc(50% - 15px);
    }
  }
}

