Created by
= link_to 'Karim Tarek', 'http://www.gotimeliner.com/karim-tarek', target: '_blank'
With
%i.fa.fa-heart
from Montreal, Canada.
%small Copyright © 2015 Timeliner. All screenshots © their respective owners.
