%header.container.header
  .row.tbl
    .col.w-20
      %strong You hate it?
      %p
        No problem,
        = link_to 'delete your account.', edit_user_registration_path

    .col.w-80
      Created by Karim Tarek With HEART from Montreal, Canada.
      %small Copyright © 2015 Timeliner. All screenshots © their respective owners.
