%header.container.header
  .row.tbl
    .col.w-50
      %h1.logo Timeliner
    .col.w-50.align-r
      = link_to destroy_user_session_path, class: 'item', method: :delete do
        %i.fa.fa-power-off
        Sign out
