.section.profile-status.brdr-btm
  %h5 Maintenance mode
  - if current_user.basic_info?
    .switch-wrapper
      %span.lable online
      - status = current_user.maintenance_mode ? 'on' : 'off'
      = link_to maintenance_mode_path, class: "switch #{status}", id: 'status-switch', remote: true, method: :post do
        %span.indicator
      %span.lable offline
  %p.switch-note
    - if current_user.maintenance_mode
      Your timeline is invisible, as long as you loged-in you can see it, though everyone else can't.
    - else
      Your timeline is visible to the whole world.
