.user-info-wrapper
  .profile-wrapper
    = image_tag(current_user.image, alt: current_user.username, width: '69', height: '69')
  .user-info
    .greeting Welcome
    .username
      = current_user.first_name
      %span.semi-bold= current_user.last_name
    .status
      Status
      %a{:href => "#"}
        .status-icon.green>
        Online