.notification-messages.info
  .user-profile
    = image_tag('app-backend/profiles/d.jpg', alt: '', width: '35', height: '35')

  .message-wrapper
    .heading Title of Notification
    .description Description...
    .date.pull-left A min ago
  .clearfix