.side-bar-widgets
  / BEGIN FOLDER WIDGET
  %p.menu-title
    FOLDER
    %span.pull-right
      %a.create-folder{:href => "#"}
        %i.icon-plus
  %ul.folders
    %li
      %a{:href => "#"}
        .status-icon.green>
        Task 1
    / BEGIN HIDDEN INPUT BOX (FOR ADD FOLDER LINK)
    %li.folder-input{:style => "display:none"}
      %input#folder-name.no-boarder.folder-name{:name => "", :placeholder => "Name of folder", :type => "text"}/
    / END HIDDEN INPUT BOX (FOR ADD FOLDER LINK)
  / END FOLDER WIDGET
  / BEGIN PROJECTS WIDGET
  %p.menu-title PROJECTS
  / BEGIN EXAMPLE 1
  .status-widget
    .status-widget-wrapper
      .title
        Project Title
        %a.remove-widget{:href => "#"}
          %i.icon-custom-cross
      %p Project Description
  / END EXAMPLE 1
  / END PROJECTS WIDGET
.clearfix