<div class="section ">
  <div class="container">
    <div class="p-t-40 p-b-40 text-center">
      <h2>Create a good-looking resume, in five minutes or less.</h2>
      <%= link_to 'SEE AN EXAMPLE', 'http://www.gotimeliner.com/karim-tarek', class:"btn btn-purple btn-lg  btn-large m-r-10", target: '_blank' %>
    </div>
  </div>
</div>
