<div class="section grey">
  <div class="container">
    <div class="p-t-40 p-b-50 ">
      <div class="row">
        <div class="col-md-12">
          <h2><span class="normal">Make life much easier</span><br>
          download webarch full package with <span class="normal">frontend</span><button type="button" class="btn btn-primary btn-cons m-l-30">Subscribe</button></h2>
        </div>
      </div>
      <br>
      <div class="row feature-list">
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="300">
          <h4 class="title custom-font">MILLIONS OF POSSIBILITIES</h4>
          <p class="p-r-50">
            Hundreds of free desktop apps Enjoy a mobile-like app experience on your PC, with free apps and games like Facebook and Farmville 2.
          </p>
        </div>
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
          <h4 class="title custom-font">REAL TIME NOTIFICATIONS</h4>
          <p class="p-r-50">
            Stay informed with notifications from your favorite apps keeping you up to date on your emails, tweets and more.
          </p>
        </div>
        <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
          <h4 class="title custom-font">ONE CLICK AWAY</h4>
          <p class="p-r-50">
            Find, organize, and launch your favorite apps, sites, and files faster and easier than ever before.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>