<div class="section white ha-waypoint"  data-animate-down="ha-header-color" data-animate-up="ha-header-hide" >
  <div class="container">
    <div class="p-t-60">
      <div class="row">
        <div class="col-md-12 feature-list ">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="300">
            <h4 class="title">WHAT IS TIMELINER?</h4>
            <p>
              Timeliner is a free service that creates a good looking online resumes, quick and easy by importing your information from LinkedIn.
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="600">
            <h4 class="title">IS TIMELINER FOR YOU?</h4>
            <p>
              If you need an online resume done quickly with minimum effort, that looks good and free, then yeah most probably Timeliner is for you.
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="900">
            <h4 class="title">SOUNDS GOOD?</h4>
            <p>
              One more thing, before you sign up you need to have a LinkedIn account, if you are all set, please go a head and
            </p>
            <%= link_to 'Sign up', user_omniauth_authorize_path(:linkedin), class: 'btn btn-primary btn-sm btn-small' %>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 feature-list">
          <div class="col-md-4 " data-ride="animated" data-animation="fadeIn" data-delay="1200">
            <h4 class="title">IMPORT DATA</h4>
            <p>
              Insted of adding content manually, you may import some of your data from LinkedIn.
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1500">
            <h4 class="title">SHOW OFF</h4>
            <p>
              Show-off your information in a unique good looking modern design.
            </p>
          </div>
          <div class="col-md-4" data-ride="animated" data-animation="fadeIn" data-delay="1800">
            <h4 class="title">BE SOCIAL</h4>
            <p>
              Add your social media links, so poeple can connect with you easily, plus they can messege you directly using the contact form on your page.
            </p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="section relative">
        <div class="row">
          <%= image_tag('app-frontend/browser.png', alt: '', class: 'resize p-t-60 col-md-9 hidden-xs', data: {ride: "animated", animation: "fadeInLeft", delay: "300"}) %>
          <%= image_tag('app-frontend/phone.png', alt: '', class: 'resize p-t-60 col-md-2 push-bottom hidden-sm hidden-xs visible-lg visible-md', style: 'right:9%', data: {ride: "animated", animation: "fadeInRight", delay: "600"}) %>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>