<div class="section black">
  <div class="container">
    <div class="p-t-60 p-b-60">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h2 class="text-center text-white m-b-30"><span class="semi-bold">Stay informed</span> sign up for our newsletter.<br><p class="text-white no-worries" style="font-size: 14px;">We won't be sharing your email with others, we promise.</p></h2>

          <div class="row form-row">
            <%= render 'layouts/app-frontend/mailchimp_form' %>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>














