<div class="section white">
  <div class="container">
    <div class="p-t-60 p-b-50 ">
      <div class="row feature-list">
        <div class="col-md-3 ">
          <h4 class="custom-font title">CUSTOMERS</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="4500" data-animation-duration="800">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius ">
              <div class="progress-bar progress-bar-black animated-progress-bar " data-percentage="79%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">SITES</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="505" data-animation-duration="800">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="45%" ></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">PROJECTS</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="1500" data-animation-duration="800">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="12%"></div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <h4 class="custom-font title">JOBS</h4>
          <h1 class="custom-font"><span class="number-animator" data-value="14000" data-animation-duration="800">0</span></h1>
          <div class="col-md-8 no-padding">
            <div class="progress transparent progress-small no-radius no-margin">
              <div class="progress-bar progress-bar-black animated-progress-bar" data-percentage="85%"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>