<div class="tp-banner-container">
  <div class="tp-banner" id="home" >
    <ul>
      <!-- SLIDE  -->
      <li data-transition="fade" data-slotamount="5" data-masterspeed="700" >
        <!-- MAIN IMAGE -->
        <%= image_tag('app-frontend/bg/slide_one.jpg', alt: '') %>
        <!-- <img src="assets/img/bg/slide_one.jpg"   alt="slidebg1"  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat"> -->
        <!-- LAYERS -->
        <div class="tp-caption mediumlarge_light_white_center sft tp-resizeme slider"
          data-x="center" data-hoffset="0"
          data-y="60"
          data-speed="500"
          data-start="800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off"
          style="z-index: 6"><h2 class="text-white custom-font title ">WE'VE DESIGN<br> EVERYTHING JUST FOR YOU</h2>
        </div>
        <div class="tp-caption sfb slider tp-resizeme slider"
          data-x="center"
          data-hoffset="0"
          data-y="240"
          data-speed="800"
          data-start="1000"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off"
          style="z-index: 6">
          <%= link_to 'Sign up with LinkedIn', user_omniauth_authorize_path(:linkedin), class: 'btn btn-purple btn-lg  btn-large m-r-10' %>
          <!-- <a href="#" class="btn btn-purple btn-lg  btn-large m-r-10">BUY IT NOW</a> -->
        </div>
        <div class="tp-caption fade slider tp-resizeme slider"
          data-x="center"
          data-hoffset="0"
          data-y="300"
          data-speed="500"
          data-start="800"
          data-easing="Power4.easeOut"
          data-endspeed="300"
          data-endeasing="Power1.easeIn"
          data-captionhidden="off"
          style="z-index: 6"> <a href="#" class="text-white m-r-10">or subscribe to newsletter</a>
        </div>
      </li>
    </ul>
    <div class="tp-bannertimer"></div>
  </div>
</div>