<div class="section table-layout">
  <div id="working-section" class="table-cell v-middle">
    <div >
      <h2 class="text-white text-center custom-font no-margin">MILLIONS OF SATISFIED CUSTOMERS</h2>
    </div>
  </div>
</div>
<div class="section white">
  <div class="container">
    <div class="p-t-60 p-b-50">
      <div id="testomonials" class="owl-carousel row">
        <div class="item">
          <div class="col-md-6  col-md-offset-3">
            <h3 class="normal text-center">
            I’m really happy that webarch is able to offer
            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3">
            <h3 class="normal text-center">
            I’m really happy that webarch is able to offer
            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
        <div class="item">
          <div class="col-md-6   col-md-offset-3">
            <h3 class="semi-bold text-center">
            I’m really happy that webarch is able to offer
            support specifically tailored to creative businesses and I’d love Nottingham to become renowned for this.
            </h3>
            <p class="text-center">Caroline Hennigan, Programme Director, Broadway</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>