.page-title
  %h3
    Edit
    %span.semi-bold Your Information
.row
  .col-md-12
    .grid.simple
      .grid-title.no-border
      .grid-body.no-border
        .row
          .col-md-12
            = render 'form'
