- content_for(:title) do
  Timeliner | Change your password

- content_for(:description) do
  Timeliner is a free service that creates a good looking online resumes, quick and easy by importing your information from LinkedIn.

= render 'static_pages/header'

.container.hero
  .row
    .col.w-60
      .sub-container.opacity-90
        .row
          .col-100
            %h2.dark.underline.left.thick.yellow
              Change your password
        = render 'form_change'

= render 'static_pages/footer'
