.container.alert.cool
  .row.full.clearfix
    .col.w-100
      %h4.alert-heading Let's start adding projects!
      %p
        Create your first project,
        = link_to 'click here', new_project_path
        to start.
