.alert{
  padding: 1em;
  margin-bottom: 20px;

  &.cool{
    border: 5px solid $blue;

    .alert-heading{
      color: $blue;
    }

    p{
      color: $copy-gray;
      font-size: 16px;
    }

    a{
      color: $dark-blue;
      text-decoration: underline;
    }
  }

  &.watch-it{
    border: 5px solid $red;

    .alert-heading{
      color: $red;
    }
  }

  ul{
    margin-top: .5em;
  }

  .btn{
    margin-top: 1em;
  }

  .alert-close{
    position: absolute;
    top: 0;
    right: 0;
    color: $blue;
  }
}
