input[type="submit"]{
  border-top: none;
  border-right: none;
  border-left: none;
}

a{
  text-decoration: none;
}

.link{
  position: relative;
  @include transition(all 0.3s ease-in-out);

  &:after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    @include transition(all 0.2s ease-in-out);
  }

  &:hover{
    &:after{
      width: 100%;
    }
  }

  &.white{
    color: $white;

    &:after{
      background-color: shade($white, 10%);
    }

    &:hover{
      color: shade($white, 10%);
    }
  }

  &.blue{
    color: $blue;

    &:after{
      background-color: shade($blue, 10%);
    }

    &:hover{
      color: shade($blue, 10%);
    }
  }
}

.link-white{
  color: $white;
  text-decoration: underline;
}

.btn{
  font-family: $font-montserrat;
  text-transform: uppercase;
  display: inline-block;
  margin-right: 5px;
  @include transition(background-color 0.3s ease-in-out);
}

.small{
  font-size: 10px;
  border-radius: 4px;
  padding: 6px 8px 4px 8px;
  border-bottom: 2px solid;
}

.medium{
  font-size: 14px;
  border-radius: 6px;
  padding: 10px;
  border-bottom: 3px solid;
}

.x-large{
  font-size: 18px;
  border-radius: 6px;
  padding: 20px;
  border-bottom: 3px solid;
}

.in{
  color: $white;
  background-color: $linkedin-blue;
  border-color: shade($linkedin-blue, 25%);

  &:hover{
    background-color: lighten($linkedin-blue, 2%);
  }
}

.default{
  color: $white;
  background-color: $blue;
  border-color: shade($blue, 25%);

  &:hover{
    background-color: lighten($blue, 2%);
  }
}

.warning{
  color: $white;
  background-color: $orange;
  border-color: shade($orange, 25%);

  &:hover{
    background-color: lighten($orange, 2%);
  }
}

.sm-icons{
  @include clearfix;

  li{
    float: left;
    margin-right: 20px;

    &:last-child{
      margin-right: 0;
    }
  }
}

.sm-icon{
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  color: $dark-blue;
  background-color: $blue;
  display: inline-block;
  @include transition(all 0.3s ease-in-out);

  &:hover{
    color: $white;
    background-color: shade($blue, 15%);
  }

  .fa{
    position: relative;
    width: 100%;
    height: 100%;

    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
  }
}
