.features{
  background-image: image-url('bg-imac.png');
  background-position: left 100px;
  background-repeat: no-repeat;
  padding: 100px 0;
  @include brdr-btm(5px, $blue);

  li{
    position: relative;
    padding-left: 44px;
    margin-bottom: 20px;
  }

  .fa{
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: $yellow;
    color: $white;

    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }
  }

  h3{
    color: $yellow;
    margin-bottom: 5px;
  }

  p{
    color: $dark-gray;
    line-height: 1.4;
  }
}

@media (max-width : 1024px) {
  .features{ background-position: -100px 100px; }
}

@media (max-width : 768px) {
  .features{
    padding: 50px 0;
    background-image: none;

    .row{
      background-color: rgba($white, 0.5);
    }

    .col{
      &.w-50{
        width: 100%;
      }

      &.pull-right{
        float: none;
      }
    }
  }
}
