.landing{
  footer{
    padding: 80px 0;
    background-color: $dark-blue;
  }
}

footer{
  h3{
    color: $white;
  }

  .newsletter{
    p{
      color: $white;
      font-family: $font-montserrat;
      font-size: 14px;
      margin-bottom: 5px;
    }

    .text-field{
      margin-right: 5px;
      border-color: $blue;
      color: $white;
      padding-left: 5px;

      @include placeholder {
        color: $blue;
      }
    }

    .btn{
      margin-top: 5px;
    }

    .response{
      font-family: $font-roboto;
      font-size: 12px;
      color: $yellow;
      line-height: 1.5;
      background-color: rgba($white, 0.1);
      border-radius: 5px;
      padding: 5px;
      margin-top: 5px;

      a{
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .social-media{

  }

  .copyrights{
    img{
      margin-bottom: 5px;
    }

    p, small{
      font-weight: 300;
      color: $white;
      letter-spacing: 0.5px;
    }

    p{
      font-size: 12px;
    }

    small{
      font-size: 10px;
    }

    .fa{
      color: $yellow;
      font-size: 10px;
    }

  }

  .logo-footer{
    background-image: image-url('logo-sml.png');
    background-position: center top;
    background-repeat: no-repeat;
    width: 134px;
    height: 48px;
  }
}

.app{
  .footer{
    background-color: $light-gray;
    margin-top: 50px;
  }

  footer{
    height: 65px;
    padding-top: 20px;
    text-align: center;
    color: $dark-gray;
    font-size: 12px;
    font-weight: 300;

    i{
      color: $red;
    }

    a{
      color: $dark-gray;
      text-decoration: underline;
    }

    small{
      display: block;
    }
  }
}
