.text-field{
  font-size: 14px;
  padding: 5px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $edit-gray;
  font-family: $font-roboto;
  outline: none;

  &:focus{
    color: $dark-blue;
    padding-left: 10px;
    border-color: $yellow;
  }

  @include placeholder {
    color: $edit-gray;
  }
}

.form{
  .form-label{
    color: #979797;
    font-size: 13px;
    font-weight: 300;
  }

  .form-control{
    @extend .text-field;
    display: block;
    width: 100%;
    color: $edit-gray;
    font-size: 18px;
    margin-bottom: 1em;

    &.textarea{
      font-size: 14px;
      line-height: 1.5em;
    }
  }

  .action{
    text-align: right;

    &.group{
      background-color: $light-gray;
      margin-top: 10px;
      padding: 1.5em;
    }

    &.solo{
      margin-top: 10px;
    }
  }
}

.field-icon{
  position: relative;

  .form-control{
    padding-right: 15px;
  }

  .fa{
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    @include transform(translateY(-50%));
    color: $yellow;
    font-size: 14px;
  }

  &.textarea{
    .fa{
      top: 0;
      @include transform(translateY(+50%));
    }
  }

  &.show-icon{
    .fa{
      opacity: 1;
    }
  }
}

.select-field{

  &.date-select{
    select{
      &:nth-child(2){
        width: 55%;
        margin-right: 2%;
      }
      &:nth-child(3){
        width: 40%;
      }
    }
  }

  &.end-date{
    margin-bottom: 5px;
  }

  select{
    padding: 2px;
    font-size: 14px;
    font-weight: 300;
    font-family: $font-roboto;
    color: $dark-blue;
    background-color: $darker-gray;
    border-radius: 5px;
    border: none;

  }
}

.checkbox{

  [type="checkbox"]:not(:checked),
  [type="checkbox"]:checked{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label{
    position: relative;
    padding-left: 20px;
    cursor: pointer;
  }

  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before{
    content: '';
    position: absolute;
    left:0;
    top: 0;
    width: 16px;
    height: 16px;
    background-color: $darker-gray;
    border-radius: 3px;
  }

  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after{
    content: '\f00c';
    position: absolute;
    top: 1px;
    left: 2px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    color: $dark-blue;
  }

  [type="checkbox"]:not(:checked) + label:after{
    opacity: 0;
    @include transform(scale(0));
  }

  [type="checkbox"]:checked + label:after{
    opacity: 1;
    @include transform(scale(1));
  }

  [type="checkbox"]:checked:focus + label:before,
  [type="checkbox"]:not(:checked):focus + label:before{
    border: 1px dotted $blue;
  }

  label{
    color: $dark-blue;
    font-weight: 300;
    font-size: 14px;
  }
}

.nested_fields{
  border: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  @include clearfix;

  select, .field-icon{
    float: left;
  }

  select{
    width: 25%;
  }

  .field-icon{
    width: 60%;
    margin: 0 2%;

    .fa{
      top: 0;
      @include transform(translateY(+50%));
    }
  }

  .form-control{
    font-size: 12px;
  }

  .remove_nested_fields_link{
    display: table-cell;
    float: right;

    &.fa{
      background-color: $edit-gray;
      color: $white;
      height: 28px;
      width: 28px;
      font-size: 14px;
      border-radius: 50%;

      &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%) translateY(-50%));
      }

      &:hover{
        background-color: $red;
      }
    }
  }

  &.nested_user_skills{
    width: 50%;
    float: left;

    .field-icon{
      width: 75%;
    }

    &:nth-child(odd){
      padding-right: 2%;
    }

    &:nth-child(even){
      padding-left: 2%;
    }
  }
}

.stick-it-up{
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 1;
  display: inline-block;
}

.clear{
  clear: both;
}

#end_date{
  &.hide{
    display: none;
  }
}

// Checkbox
