*{
  @include box-sizing(border-box);
}

.container{
  width: 100%;
  position: relative;
}

.sub-container{
  padding: 1.5em 0;
  background-color: $light-gray;
  margin-bottom: 10px;
}

.row{
  width: 90%;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;

  &.full{
    width: 100%;
  }

  &.app-main{
    padding-left: 280px;
    padding-right: 5%;
  }
}

.tbl {
  display: table;
  > div{
    display: table-cell;
    float: none;
    vertical-align: middle;
  }
}


.col{
  float: left;

  &.w-100{
    width: 100%;
  }

  &.w-80{
    width: 80%;
  }

  &.w-75{
    width: 75%;
  }

  &.w-50{
    width: 50%;

    &:first-child{
      padding-right: 2.5%;
    }

    &:last-child{
      padding-left: 2.5%;
    }
  }

  &.w-40{
    width: 40%;
  }

  &.w-33{
    width: 33.33%;
  }

  &.w-30{
    width: 30%;
  }

  &.w-25{
    width: 25%;
  }

  &.w-20{
    width: 20%;
  }

  &.gutter{
    padding-right: 1em;
  }

  &.pull-right{
    float: right;
  }

  &.center{
    text-align: center;
  }

  &.content{
    margin-top: 30px;
  }

  &.wrapper{
    padding: 1.5em;
    background-color: $light-gray;

    &:nth-child(odd){
      border-right: 5px solid $white;
    }

    &:nth-child(even){
      border-left: 5px solid $white;
    }
  }
}

.align-r{
  text-align: right;
}

.gutter-right{
  padding-right: 1em;
}

.gutter-left{
  padding-left: 1em;
}

.clearfix{
  @include clearfix;
}

.app{
  .row{
    max-width: 100%;
  }
}
