.header{
  position: absolute;
  top: 0;
  padding-top: 30px;

  .link{
    font-family: $font-montserrat;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.logo{
  background: image-url('logo.png') top center no-repeat;
  width: 193px;
  height: 69px;
  text-indent: -9999px;
  display: block;
}

.landing{
  .header{
    z-index: 10;
  }

  &.passwords,
  &.sessions,
  &.registrations{
    .header{
      background-color: $dark-blue;
      padding-bottom: 30px;
      @include brdr-btm(5px, $yellow);
    }
  }
}

.app{
  .header{
    padding: 20px 0;
    position: relative;
    background-color: $dark-blue;
    border-bottom: 3px solid $yellow;

    .link{
      color: $white;
    }
  }

  .logo{
    background: image-url('app-logo.png') top center no-repeat;
    width: 134px;
    height: 48px;
    text-indent: -9999px;
  }
}

@media (max-width : 420px) {
  .landing{
    .header{
      .col{
        &.w-50{
          width: 100%;
        }

        &.align-r{
          display: none;
        }
      }
    }
  }
}
