.header{
  position: absolute;
  top: 0;
  padding-top: 30px;

  .link{
    font-family: $font-montserrat;
    font-size: 16px;
    text-transform: uppercase;
  }
}

.logo{
  background: image-url('logo.png') top center no-repeat;
  width: 193px;
  height: 69px;
  text-indent: -9999px;
}

.landing{
  .header{
    z-index: 10;
  }
}

.app{
  .header{
    padding: 20px 0;
    position: relative;
    background-color: $dark-blue;
    border-bottom: 3px solid $yellow;

    .link{
      color: $white;
    }
  }

  .logo{
    background: image-url('app-logo.png') top center no-repeat;
    width: 134px;
    height: 48px;
    text-indent: -9999px;
  }
}
