.sidebar{
  background-color: $dark-blue;
  width: 250px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  .section{
    padding: 1.5em 20px ;
    color: $white;
  }

  .brdr-btm{
    border-bottom: 1px solid #2f5381;
  }
}

.user-profile{
  .pic{
    width: 56px;
    height: 56px;
    border: 3px solid #5d799d;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    img{
      width: 50px;
      height: 50px;
    }
  }

  .greeting{
    padding-left: 66px;
    padding-top: 5px;
    font-size: 14px;

    span{
      display: block;
    }
  }
}

.link-icon{
  color: $white;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.switch-wrapper{
  margin-top: 5px;

  .lable{
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
  }

  .switch{
    position: relative;
    display: inline-block;
    width: 22px;
    height: 11px;
    background-color: #23497a;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;

    &.on{
      .indicator{
        background-color: #20a286;
        left: 0;
      }
    }

    &.off{
      .indicator{
        background-color: $red;
        left: 11px;
      }
    }
  }

  .indicator{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    @include transition(all 0.1s ease-in-out);
  }

}

.switch-note{
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  background-color: #23497a;
  padding: .5em;
}

.menu{
  padding: 1.5em 0;

  .fa{
    width: 20px;
  }

  a{
    display: block;
    color: $white;
  }

  li{
    font-weight: 300;
    font-size: 13px;
    color: $white;
    padding: 11px 20px 10px 20px;
    text-transform: uppercase;

    li{
      text-transform: none;
    }
  }

  .sub-menu{
    padding: 11px 0 10px 0;

    .title{
      padding: 0 20px;
    }

    ul{
      padding-top: 5px;
    }

    li{
      padding: 6px 40px 5px 40px;

      .fa{
        width: 10px;
      }
    }
  }

  .item{
    &:hover,
    &.active{
      background-color: $yellow;
      a{
        color: $dark-blue;
      }
    }
  }
}



.delete-account{
  color: $white;
  height: 65px;
  padding: 20px 20px 0 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #2f5381;
  font-size: 10px;

  i{
    font-size: 12px;
  }

  strong{
    text-transform: uppercase;
  }

  p{
  }

  a{
    color: $white;
    text-decoration: underline;
  }
}
