.tags{
  @include clearfix;

  .fa{
    background-color: $blue;
    color: $white;
    position: absolute;
    height: 100%;
    width: 32px;
    top: 0;
    left: 0;
    @include transform(translateX(-50%));
    border-radius: 50%;

    &:before{
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }
  }

  li{
    position: relative;
    font-size: 14px;
    color: $dark-blue;
    font-weight: 300;
    background-color: $darker-gray;
    border-radius: 8px;
    padding: 8px;
    margin: 10px 10px 0 0;
    float: left;
  }

  &.social-media{
    li{
      padding-left: 20px;
      margin-left: 16px;
    }
  }
}

.ribbon-wrapper{
  margin-bottom: 17px;
  margin-top: -1.5em;
}

.ribbon{
  position: relative;
  font-family: $font-montserrat;
  font-size: 14px;
  color: $white;
  background-color: $blue;
  display: inline-block;
  padding: 6px 0 0;
  width: 24px;
  text-align: center;
  margin-top: -5px;

  &.base{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
  }

  &:before{
    @extend .base;
    left: -5px;
    top: 0;
    border-width: 5px 5px 0 0;
    border-color: transparent $dark-blue transparent transparent;
  }

  &:after{
    @extend .base;
    left: 0;
    bottom: -6px;
    border-width: 6px 12px 0 12px;
    border-color: $blue transparent transparent transparent;
  }
}
