h1, h2, h3, h4{
  font-family: $font-montserrat;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.3;

  &.dark{
    color: $dark-blue;
  }
}

.page-title{
  h2{
    width: 90%;
  }
}


p{
  margin: 0;
  line-height: 1.6;
}

.underline{
  position: relative;
  padding-bottom: 4px;

  &.center{
    &:after{
      left: 50%;
      @include transform(translateX(-50%));
    }
  }

  &.left{
    &:after{
      left: 0;
    }
  }

  &.thick{
    margin-bottom: 20px;
    &:after{
      height: 3px;
    }
  }

  &.thin{
    margin-bottom: 10px;
    &:after{
      height: 2px;
    }
  }


  &.yellow{
    &:after{
      background-color: $yellow;
    }
  }

  &.white{
    &:after{
      background-color: $white;
    }
  }

  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 60px;
  }
}
