/* Font Import */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,300,100);

// Variables

$blue: #3b8ec0;
$dark-blue: #164073;

$light-gray: #eeeeee;
$darker-gray: #d6d6d6;
$copy-gray: #979797;
$edit-gray: #bebebe;
$dark-gray: #424242;

$white: #ffffff;
$black: #000000;
$green: #20a286;
$yellow: #f4c73b;
$orange: #fbb05e;
// $red: #e63d3d;
$red: #f35958;

$linkedin-blue: #006699;

$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
