/* Font Import */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100);

// Variables

$blue: #3b8ec0;
$dark-blue: #164073;

$light-gray: #eeeeee;
$darker-gray: #d6d6d6;
$copy-gray: #979797;
$edit-gray: #bebebe;
$dark-gray: #424242;

$green: #20a286;
$green-timeline: #16a085;
$green-dark-timeline: #0c7863;

$yellow: #f4c73b;
$yellow-dark: #c6a029;

$white: #ffffff;
$black: #000000;
$orange: #fbb05e;
$red: #f35958;
$pink: #ed5a64;



$linkedin-blue: #006699;

$font-roboto: 'Roboto', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;
