.tiles{
  .tiles-body{
    padding: 10px;
  }
  .gray{
    background-color: #eee;
  }
  h4{
    margin: 0 0 5px 0;
  }
}

.widget-item{
  .controller.right{
    right: 5px;
    top: 5px;
  }
}

.grid.simple .grid-body h4{

}

.flash{
  position: absolute;
  top: 6em;
  right: 2em;
  width: auto;
  z-index: 1000;
  background: rgba(#000, 0.6);;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}

#end_date{
  &.hide{
    display: none;
  }
}

.date-select{
  select{
    width: 45%;
    margin-bottom: 5px;
  }
}

.nested_fields{
  position: relative;
}

.remove_nested_fields_link{
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-sm;
  @extend .btn-small;
}

.add_nested_fields_link{
  margin-top: 10px;
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;
  @extend .btn-mini;
  // position: absolute;
  // right: 0;
}

.title-border{
  border-bottom: 1px solid #D7DBE0;
  @include clearfix;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

#layout-condensed-toggle,
#user-options{
  i{
    font-size: 1.6em;
  }
}
