.tiles{
  .tiles-body{
    padding: 10px;
  }
  .gray{
    background-color: #eee;
  }
  h4{
    margin: 0 0 5px 0;
  }
}

.widget-item{
  .controller.right{
    right: 5px;
    top: 5px;
  }
}

#main-menu{
  @include transition(all 0.3s ease-in-out);
}