.tiles{
  .tiles-body{
    padding: 10px;
  }
  .gray{
    background-color: #eee;
  }
  h4{
    margin: 0 0 5px 0;
  }
}

.widget-item{
  .controller.right{
    right: 5px;
    top: 5px;
  }
}

.grid.simple .grid-body h4{

}

.flash{
  position: absolute;
  top: 6em;
  right: 2em;
  width: auto;
  z-index: 1000;
  background: rgba(#000, 0.6);;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
}