.container.alert.cool
  .row.full.clearfix
    .col.w-100
      %h4.alert-heading Let's start adding posts!
      %p
        Create your first post,
        = link_to 'click here', new_post_path
        to start.
