.container.contact-form#contact_form_wrapper
  .row
    .col-100
      %h2 Get in touch
      .form-wrapper
        .thank-you
          %p Thanks for getting in touch, I'll get back to you as soon as possible.
        = form_for(:message, url: contact_path(user), remote:true, html:{id: 'contact_form'}) do |f|
          .field= f.text_area :body, placeholder: 'Your message...', required: true
          .field= f.email_field :email, placeholder: 'Your email', required: true
          .field= f.submit 'Send message'