%ul.social-links.wow.fadeInUp{class: @user.available_with_message? ? '' : 'top-border', data: {'wow-delay': '2.5s', 'wow-duration': '1s'}}
  - @user.social_media_links.each_with_index do |link, index|
    %li
      = link_to link.url, title: link.name, target: '_blank' do
        %i{class: 'fa fa-' + link.name.gsub(' ', '-')}
