= content_for(:title) do
  Timeliner | We could't find that user
= content_for(:description) do
  Timeliner | We could't find that user

.wrapper
  = image_tag('user_not_found.gif', class: 'maintenance-mode')
