@import "../plugins/owl-carousel/owl.carousel";
@import "../plugins/owl-carousel/owl.theme";
@import "../plugins/headereffects/css/component";
@import "../plugins/pace/pace-theme-flash";
@import "../plugins/pace/pace-theme-flash";
@import "../plugins/boostrapv3/css/bootstrap.min";
@import "../plugins/boostrapv3/css/bootstrap-theme.min";
@import "font-awesome/font-awesome";

@import 'app-frontend/style';
@import 'app-frontend/magic_space';
@import 'app-frontend/responsive';
@import 'timeline/animate';
@import '../plugins/rs-plugin/css/settings';
