// Place all the styles related to the milestone controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.ui.form{
  .date_selector{
    select{
      display: inline-block;
      width: 49%;
      margin-right: 1%;
      margin-bottom: 5px;
      &:nth-child(even){
        margin-right: 0;
      }
    }
  }
}