.menu{
  h2{
    margin: 3px 0;
  }
  h3{
    margin: 0;
  }
}

.item{
  &.active{
    .label{
      background-color: #00b5ad !important;
      border-color: #00b5ad !important;
      color: #ffffff !important;
    }
  }
}