.noscroll{
  overflow: hidden;
  position: relative;
  .overlay-close{
    right: 5%;
    opacity: 0.9;
    @include transform(rotate(90deg));
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
	background: rgba(#34495E, 0.9);
  padding-bottom: 8%;
}

.overlay-close {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 0%;
  opacity: 0;
  cursor: default;
  @include transform(rotate(-45deg));
  top: 5%;
  overflow: hidden;
  border: none;
  background: image-url('cross.png') no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
  @include transition(all 0.4s $ease-out-quint);
}


#popup{
	position: absolute;
	top: 80%;
	left: 50%;
  background-color: rgba(#16A085, 0.8);
  border-radius: 10px;
  padding: 1.5em;
  position: relative;
  width: 70%;
  max-width: 900px;
  opacity: 0;
	@include transform(translateX(-50%));
  @include transition(all 0.5s $ease-out-circ);

	.time-location{
    float: right;
    background-color: rgba(#000, 0.1);
    border-radius: 10px;
    padding: 10px;
    top: 15px;
    right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    color: #34495E;
    .time{
      display: block;
      text-transform: uppercase;
      font-size: .9em;
    }
    .location{
      display: block;
      font-size: .9em;
      margin-top: .2em;
      /*font-weight: 700;*/
    }
  }

	h1{
    margin: 0 0 0.2em 0;
    color: #fff;
  }
  h2{
    margin: 0;
    color: #EDC92C;
    font-weight: 400;
    a{
      color: #EDC92C;
      &:hover{
      	color: #DBB626;
      }
      &:visited,
      &:active{
        color: #ffa449;
      }
    }
  }
  .description{
  	position: relative;
		margin-top: 1.5em;
		margin-bottom: 0.5em;
		padding-top: 1.5em;
    color: #34495E;
		&:before{
			content: '';
			position: absolute;
			left: 50%;
			@include transform(translateX(-50%));
			top: 0;
			width: 50%;
			height: 3px;
			background-color: rgba(#000, 0.1);
		}
    p{
      margin: 0;
      line-height: 1.5em;
      font-weight: 700;
      margin-bottom: 1em;
      /*color: #34495E;*/
    }
    a{
			@extend .link;
    }
    ul{
			margin: 0;
			/*margin-top: 10px;*/
			padding: 0;
    }
    li{
			@extend .list-item;
    }
    blockquote{

    }
  }
}

#projects{
  position: relative;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  padding-top: 1.5em;
  &:before{
    content: '';
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    top: 0;
    width: 25%;
    height: 3px;
    background-color: rgba(#000, 0.1);
  }
  h2{
    @extend .section-head;
    text-align: center;
    margin-bottom: 1.5em;
    color: #fff;
    &:after{
      background-color: #fff;
    }
  }
}
#projects-list{
  margin: 0;
  padding: 0;
  > li{
    padding-left: 0;
    width: 100%;
    padding-bottom: 1.5em;
    margin-bottom: 1.5em;
    border-bottom: 2px solid rgba(#000, 0.1);
    font-size: 0.9em;
    color: #fff;
    @include clearfix;
    &:nth-child(odd){
      // background-color: rgba(#000, 0.1);
      .screenshot{
        float: right;
      }
      .copy{
       float: left;
       padding-right: 2%;
      }
    }
    &:nth-child(even){
      .screenshot{
        float: left;
      }
      .copy{
       float: right;
       padding-left: 2%;
      }
    }
    &:last-child{
      margin-bottom: 0;
      padding-bottom: 0;
      border: none;
    }
  }
  .screenshot{
    width: 48%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .copy{
    width: 52%;
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      @extend .list-item;
      color: #fff;
      &:before{
        border-color: #34495E;
      }
    }
  }
  p{
    margin: 0;
    line-height: 1.5em;
    margin-bottom: 0.5em;
    color: #fff;
  }
  h3{
    font-size: 1.3em;
    margin: 0;
    color: #EDC92C;
    text-transform: uppercase;
  }
  .role{
    margin-bottom: 0.3em;
    display: block;
  }
  a{
    @extend .btn;
    left: auto;
    @include transform(translateX(0));
  }
  .info{
    padding-bottom: 0.5em;
    margin-bottom: .5em;
    color: #34495E;
    border-bottom: 2px solid rgba(#000, 0.1);
    strong{
      font-size: 0.9em;

    }
    span{
      font-weight: 400;
    }
  }
}

.wrapper {
	@include transition(transform 0.5s ease-in-out, blur 0.5s ease-in-out);

	&.overlay-open {
		@include transform(scale(0.95));

		-webkit-filter: blur(5px);
	  -moz-filter: blur(5px);
	  -o-filter: blur(5px);
	  -ms-filter: blur(5px);
	  filter: blur(5px);
	}
}


.overlay-contentscale {
	visibility: hidden;
	@include transform(translateY(100%));
	@include transition(transform 0.5s $ease-out-expo, visibility 0s 0.5s);

	&.open {
		visibility: visible;
		@include transform(translateY(0%));
		@include transition(transform 0.5s $ease-out-expo);
		#popup{
			opacity: 1;
			top: 5%;
			@include transition(all 0.5s $ease-out-quart 0.1s);
		}
	}
}