@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
// @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #34495E;
}

.fa-stackoverflow{
  // @extend .fa-stackover-flow;
}

li{
  list-style-type: none;
}

// HEADER

//// LOGO
header{
  border-bottom: 6px solid #273747;
  background-color: #2F4254;
  padding: 15px 0;
}
.logo{
  h1{
    margin: 10px 0 0 0;
    color: #1ABC9C;
    @include clearfix;
  }
  .name{
      font-size: 0.75em;
      line-height: 1em;
      display: block;
      padding-top: 5px;
  }
  .description{
    font-size: 0.5em;
    display: block;
    color: #fff;
    font-weight: 400;
  }
  img{
    margin-right: 5px;
    float: left;
    width: 50px;
    height: auto;
    border-radius: 50%;
    border: 2px solid #1ABC9C;
  }
}


//// NAV
nav{
    @include clearfix;
  ul{
    display: inline-block;
    float: right;
  }
  li{
    float: left;
  }
  a{
    // float: right;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
  }
}


// ABOUT

#about{
  border-bottom: 6px solid #273747;
  .col-100{
    text-align: center;
  }
  .about-bubble{
    position: relative;
    width: 50%;
    margin: 50px auto 20px;
    background-color: #16A085;
    border-radius: 10px;
    padding: 15px;
    color: #fff;
    @include transition(all 0.3s ease-in-out);
    &:after{
      content: '';
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid #16A085;
      position: absolute;
      left: 50%;
      margin-left: -10px;
      bottom: -10px;
      margin-top: -10px;
    }
    &.pb-30{
      padding-bottom: 32px;
    }
    .email, .location, .phone{
      width: 100%;
      padding: 0 15px;
      position: absolute;
      left: 0;
      bottom: 10px;
      color: #fff;
      opacity: 0;
      @include transition(all 0.5s ease-in-out);
    }

    .show{
      color: #273747;
      opacity: 1;
    }
  }
  .bio{

  }
  .image{
    position: relative;
    width: 110px;
    height: 110px;
    margin: 0 auto 105px auto;
    &.active{
      opacity: 1;
      background-color: #16A085;
    }

    img{
      width: 110px;
      height: auto;
      border-radius: 50%;
      border: 5px solid #273747;
      opacity: 0.9;
      @include transition(all 0.3s ease-in-out);
      &.active{
        opacity: 1;
        border-color: #16A085;
      }
      &:hover{
        opacity: 1;
      }
    }
    a{
      display: inline-block;
      position: absolute;
      background: #273747;
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      padding: 12px 0 0 0;
      text-align: center;
      opacity: 0.8;
      @include transition(all 0.3s ease-in-out);
      &:hover{
        opacity: 1;
      }
      &.email{
        top: 50%;
        margin-top: -25px;
        left: -60px;
        span{
          left: 0;
        }
      }
      &.location{
        top: 50%;
        margin-top: -25px;
        right: -60px;
      }
      &.phone{
        left: 50%;
        margin-left: -25px;
        bottom: -60px;
      }
      &.active{
        opacity: 1;
        background-color: #16A085;
      }
    }
    i.fa{
      font-size: 24px;
    }
    span{
      position: absolute;
      display: inline-block;
      min-width: 150px;
      // display: none;
    }
  }
}


// SKILLS

#skills{
  display: none;
}

// TIMELINE

#timeline{
  @include clearfix;
  // display: none;
}

.timeline {
  position: relative;
  border-left: 6px solid #273747;
  width: 50%;
  float: right;
  padding-top: 50px;
  padding-bottom: 50px;
  .event {
    position: relative;
    width: 90%;
    // padding: 0 25px;
    &:before{
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      position: absolute;
      top: 50%;
      margin-top: -12px;
      left: -16px;
      border-radius: 20px;
      z-index: 10;
      border: 6px solid #34495E;
      background: white;
      // border: 4px solid white;
      // background: #ccc;
    }

    &:nth-child(odd){
      .bubble{
        left: -101%;
        &:before{
          right: -10px;
          border-left: 10px solid #16A085;
        }
      }
      .time-location{
      }
    }

    &:nth-child(even){
      .bubble{
        right: -5%;
        &:before{
          left: -10px;
          border-right: 10px solid #16A085;
        }
      }
      .time-location{
      }
    }
  }
  .bubble{
    background-color: #16A085;
    border-radius: 10px;
    padding: 15px;
    position: relative;
    width: 95%;
    margin-bottom: 25px;
    @include transition(all 0.5s ease-in-out);
    &:before{
      content: '';
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      position: absolute;
      top: 50%;
      margin-top: -10px;
    }
    h3{
      margin: 0 0 0.5em 0;
      color: #fff;
    }
    h4{
      margin: 0;
      color: #EDC92C;
      font-weight: 400;
      a{
        color: #EDC92C;
        &:hover{
          color: #DBB626;
        }
      }
    }
    .description{
      @include transition(height 0.3s ease-in-out, opacity 0.3s $ease-in-out-expo);
      width: 100%;
      height: 0;
      opacity: 0;
      // overflow: hidden;
      p{
        margin: 0;
      }
    }
    a.btn{
      position: relative;
      left: 50%;
      @include transform(translateX(-50%));;
      display: inline-block;
      text-transform: uppercase;
      color: #fff;
      background-color: #ed5a64;
      border-radius: 5px;
      padding: 8px;
      margin-top: 10px;
      text-decoration: none;
      font-size: .8em;
      border-bottom: 2px solid #c94047;
    }
  }
  .time-location{
    float: right;
    background-color: rgba(#000, 0.1);
    border-radius: 10px;
    padding: 8px;
    top: 15px;
    right: 15px;
    margin-left: 10px;
    margin-bottom: 5px;
    .time{
      display: block;
      text-transform: uppercase;
      font-size: .9em;
      color: #34495E;
    }
    .location{
      display: block;
      font-size: .8em;
      color: #34495E;
    }
  }
}

//  FOOTER

footer{
  border-top: 6px solid #273747;
  background-color: #2F4254;
  padding: 15px 0;
}

.social-media{
  h2{
    color: #fff;
    text-transform: uppercase;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin-left: -5%;
      height: 4px;
      width: 10%;
      background-color: #fff;
    }
  }
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
  }
  a{
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #16A085;
    border-radius: 50%;
    padding: 13px 0 0 0;
    text-align: center;
    @include transition(all 0.3s ease-in-out);
    &:hover{
      background: #273747;
      color: #fff;
    }
  }
  i.fa{
    font-size: 24px;
  }
}

.copyrights{
  color: #fff;
}

.center{
  text-align: center;
}

// BACKGROUND PATTERNS

.escape-flight{
  background-image: image-url('escape-flight.png');
}

.ahoy{
  background-image: image-url('ahoy.jpg');
}

.science{
  background-image: image-url('science.png');
}

// OVERLAY