@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
// @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #34495E;
  // padding-top: 107px;
}


li{
  list-style-type: none;
}

@import 'timeline/header';
@import 'timeline/about';
@import 'timeline/timeline';
@import 'timeline/contact_form';
@import 'timeline/footer';

// SKILLS

#skills{
  display: none;
}


// BACKGROUND PATTERNS

.escape-flight{
  background-image: image-url('escape-flight.png');
}

.ahoy{
  background-image: image-url('ahoy.jpg');
}

.science{
  background-image: image-url('science.png');
}

// SHARED

.section-head{
  text-transform: uppercase;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5%;
    height: 4px;
    width: 10%;
  }
}

.btn{
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #ed5a64;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  text-decoration: none;
  font-size: .8em;
  border-bottom: 2px solid #c94047;
  @include transition(background 0.3s ease-in-out);
  &:hover{
    background-color: #c94047;
  }
}

.center{
  text-align: center;
}