@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
// @import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #34495E;
  // padding-top: 107px;
}


li{
  list-style-type: none;
}

@import 'timeline/header';
@import 'timeline/about';
@import 'timeline/timeline';





// SKILLS

#skills{
  display: none;
}



// CONTACT FORM
.contact-form{
  border-top: 6px solid #273747;
  background-color: #18BC9C;
  padding: 25px 0;
  h2{
    @extend .section-head;
    color: #2C3E50;
    text-align: center;
    &:after{
      background-color: #2C3E50;
    }
  }
  .form-wrapper{
    position: relative;
  }
  .thank-you{
    position: absolute;
    display: none;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    background-color: rgba(#000, 0.1);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    top: 40%;
    @include transform(translateY(-50%));
  }
}

#contact_form{
  .field{
    border-bottom: 1px solid rgba(#000, 0.1);
    margin-bottom: 1em;
    &:last-child{
      border: none;
    }
  }

  input[type='text'],
  input[type='email'],
  textarea{
    background-color: transparent;
    padding: 10px 0;
    border: 0;
    width: 100%;
    font-size: 1.2em;
    color: #fff;
    outline:none;
    @include transition(all 0.3s ease-in-out);
    &:focus{
      background-color: rgba(#000, 0.1);
      padding-left: 10px;
      border: 0;
    }
    @include placeholder {
      color: rgba(#000, 0.1);
    }
  }

  textarea{
    min-height: 8em;
  }

  input[type='submit']{
    @extend .btn;
    font-size: 1em !important;
    padding: 10px !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
  }
}

//  FOOTER

footer{
  border-top: 6px solid #273747;
  background-color: #2F4254;
  padding: 25px 0 15px 0;
}

.social-media{
  h2{
    @extend .section-head;
    color: #fff;
    &:after{
      background-color: #fff;
    }
  }
  ul{
    display: inline-block;
  }
  li{
    display: inline-block;
  }
  a{
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #16A085;
    border-radius: 50%;
    padding: 13px 0 0 0;
    text-align: center;
    @include transition(all 0.3s ease-in-out);
    &:hover{
      background: #273747;
      color: #fff;
    }
  }
  i.fa{
    font-size: 24px;
  }
}

.copyrights{
  color: #fff;
}

.center{
  text-align: center;
}

// BACKGROUND PATTERNS

.escape-flight{
  background-image: image-url('escape-flight.png');
}

.ahoy{
  background-image: image-url('ahoy.jpg');
}

.science{
  background-image: image-url('science.png');
}

// SHARED

.section-head{
  text-transform: uppercase;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5%;
    height: 4px;
    width: 10%;
  }
}

.btn{
  position: relative;
  left: 50%;
  @include transform(translateX(-50%));
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  background-color: #ed5a64;
  border-radius: 5px;
  padding: 8px;
  margin-top: 10px;
  text-decoration: none;
  font-size: .8em;
  border-bottom: 2px solid #c94047;
  @include transition(background 0.3s ease-in-out);
  &:hover{
    background-color: #c94047;
  }
}

// OVERLAY