<tr>
  <td>
    <!-- COPY -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" style="padding: 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy"><%= @message_body %></td>
      </tr>
    </table>
  </td>
</tr>
