!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %img{:src => "https://dl.dropboxusercontent.com/u/47721963/timeliner-assets/images/goodbye.gif", :alt => "We are sorry!!"}/
