<tr>
  <!-- HERO IMAGE -->
  <td class="padding-copy">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center">
          <img src="https://dl.dropboxusercontent.com/u/47721963/timeliner-assets/images/thankyou.gif" width="350" height="206" border="0" alt="Thank you" style="display: block; padding: 0; color: #666666; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px;" class="img-max">
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td>
    <!-- COPY -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size: 25px; font-family: Helvetica, Arial, sans-serif; color: #333333; padding-top: 30px;" class="padding-copy">Welcome to Timeliner</td>
      </tr>
      <tr>
        <td align="center" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: Helvetica, Arial, sans-serif; color: #666666;" class="padding-copy">Thank you for giving Timeliner a shot, we are really excited to have you, click <%= link_to 'here', new_user_session_path, style: 'color: #666666' %> to log in to your account, or if you would like to read the getting started guide please click the link below to</td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="center">
    <!-- BULLETPROOF BUTTON -->
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
      <tr>
        <td align="center" style="padding: 25px 0 0 0;" class="padding-copy">
          <table border="0" cellspacing="0" cellpadding="0" class="responsive-table">
            <tr>
              <td align="center"><a href="https://github.com/karimmtarek/timeliner/wiki/Getting-Started-with-Timeliner" target="_blank" style="font-size: 16px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; background-color: #256F9C; border-top: 15px solid #256F9C; border-bottom: 15px solid #256F9C; border-left: 25px solid #256F9C; border-right: 25px solid #256F9C; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; display: inline-block;" class="mobile-button">Get Started Now &rarr;</a></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
