.footer-widget
  .progress.transparent.progress-small.no-radius.no-margin
    .progress-bar.progress-bar-success.animate-progress-bar{"data-percentage" => "79%"}
  .pull-right
    .details-status
      %span.animate-number{"data-animation-duration" => "560", "data-value" => "86"}>
      \%
    %a{:href => "#"}
      %i.fa.fa-power-off