/ BEGIN SIDEBAR MENU
%p.menu-title
  BROWSE
  %span.pull-right
    %a{:href => "javascript:;"}
      %i.fa.fa-refresh
%ul
  / BEGIN SELECTED LINK
  %li.start.active
    %a{:href => "#"}
      %i.icon-custom-home
      %span.title Link 1
      %span.selected
      %span.badge.badge-important.pull-right 5
  / END SELECTED LINK
  / BEGIN BADGE LINK
  %li
    %a{:href => "#"}
      %i.fa.fa-envelope
      %span.title Link 2
      %span.badge.badge-disable.pull-right 203
  / END BADGE LINK
  / BEGIN SINGLE LINK
  %li
    %a{:href => "#"}
      %i.fa.fa-flag
      %span.title Link 3
  / END SINGLE LINK
  / BEGIN ONE LEVEL MENU
  %li
    %a{:href => "javascript:;"}
      %i.icon-custom-ui
      %span.title Link 4
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => "#"} Sub Link 1
  / END ONE LEVEL MENU
  / BEGIN TWO LEVEL MENU
  %li
    %a{:href => "javascript:;"}
      %i.fa.fa-folder-open
      %span.title Link 5
      %span.arrow
    %ul.sub-menu
      %li
        %a{:href => "javascript:;"} Sub Link 1
      %li
        %a{:href => "javascript:;"}
          %span.title Sub Link 2
          %span.arrow
        %ul.sub-menu
          %li
            %a{:href => "javascript:;"} Sub Link 1
  / END TWO LEVEL MENU
/ END SIDEBAR MENU