.ui.menu
  = link_to root_path, class: 'item' do
    %i.home.icon
    Home
  .right.menu
    - if signed_in?
      = link_to destroy_user_session_path, class: 'item', method: :delete do
        %i.sign.out.icon
        Sign out
    - else
      = link_to new_user_registration_path, class: 'item' do
        %i.wizard.icon
        Sign up
      = link_to new_user_session_path, class: 'item' do
        %i.sign.in.icon
        Sign in