- content_for(:title) do
  Timeliner | Create a good-looking resume, in five minutes or less

- content_for(:description) do
  Timeliner is a free service that creates a good looking online resumes, quick and easy by importing your information from LinkedIn.

= render 'static_pages/header'

.container.hero
  .row
    .col.w-100
      Sign up
      %p Fill out the form below to sign-up for a new account
      = render 'form'

    .ui.bottom.attached.message
      = render "users/shared/links"

= render 'static_pages/footer'
